** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(to bottom right, rgb(255, 189, 146), rgb(97, 54, 5));
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}    
.main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.glass{
    height: 70%;
    width: 80%;
    background-image: linear-gradient(to bottom left, rgb(250, 248, 246, 0.2), rgb(243, 243, 243, 0.2));
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin-bottom: 50px;

}


